{% extends 'RentMovieBundle::layout1.html.twig'%}

{% block info %}
	<p><b>Genres:</b></p>
	<p><b>Starring:</b></p><br/>
	<p><b>Year:</b></p>
	<p><b>Description:</b></p><br/>
	<p><b>Language:</b></p> 
	<p><b>Price:</b></p> <br/><br/>
	<p><b>Trailer:</b></p><br/>
{% endblock %}
{% block cover %}
	<img src="{{ asset('bundles/rentmovie/images/mind.jpg') }}"><br/>
{% endblock %}
{% block title %}
	<h4 class="film">A Beautiful Mind </h4>
{% endblock %}
{% block genres %}
	<p>Biographical drama film<br/></p>
{% endblock %}
{% block starring %}
	<p>Russell Crowe, Ed Harris, Jennifer Connelly, Paul Bettany, Adam Goldberg, Judd Hirsch, Josh Lucas, Anthony Rapp, Christopher Plummer<br/></p>
{% endblock %}
{% block year %}
	<p>2001<br/></p>
{% endblock %}
{% block description %}
	<p>After a brilliant but asocial mathematician accepts secret work in cryptography, his life takes a turn for the nightmarish.<br/></p>
{% endblock %}
{% block language %}
	<p>English<br/></p>
{% endblock %}
{% block price %}
	<p>$4.58</p>
{% endblock %}
{% block trailer %}
	<video width="450" controls>
		<source src="{{ asset('bundles/rentmovie/video/mind.mp4') }}" type="video/mp4">
	</video>
{% endblock %}